*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
input{
    outline: none;
}
.fll{
    float: left;
}
.flr{
    float: right;
}
.clear{
    clear: both;
    display: 'block';
    content: ''
}