*{
    margin: 0;
    padding: 0;
}
.clear:after{
    clear: both;
    display: block;
    content: ''
}
.fll{
    float: left;
}
.flr{
    float: right;
}
li{
    list-style: none;
}
.cursor{
    cursor: pointer;
}
.night-mode-style {
  background: rgba(0, 0, 0, 0.8);
}
.white-color{
  color: #FFF!important;
}
input{
  outline: none;
}
